
<div class="d-flex flex-column my-3 justify-content-start align-content-start">
    <div class="section01 mt-3">
        <p class="fw-bold text-dark">Categories</p>
        @if (Categories is not null)
        {
            @foreach (var category in Categories)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input text-black-50" id="@category.Name" value="">
                    <label class="form-check-label text-black" style="font-size: 0.9rem" for="@category.Name">
                        @category.Name
                    </label>
                </div>
            }
        }
        else
        {
            <p class="alert alert-danger" role="alert">Can't Load Products Categories</p>
        }
    </div>
</div>
