<div class="col-md-4">
    <div><h5><b>Summary</b></h5></div>
    <hr>
    <div class="d-flex">
        <div class="col"><p>ITEMS 3</p></div>
        <div class="col text-end"><p>&pound; 132.00</p></div>
    </div>
    <form>
        <p>SHIPPING</p>
        <select><option class="text-muted">Standard-Delivery- &pound; 5.00</option></select>
        <p>GIVE CODE</p>
        <input id="code" placeholder="Enter your code">
    </form>
    <div class="d-flex" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col"><p>TOTAL PRICE</p></div>
        <div class="col text-end"><p>&pound; 137.00</p></div>
    </div>
    <button class="btn">CHECKOUT</button>
</div>