@inherits LayoutComponentBase


<div class="container-fluid gradient-custom h-100">
    <div class="row">
    <TopNavBar></TopNavBar>
    </div>
    <div  class="row gradient-custom h-100">
        <div class="main row h-100">
            @Body
        </div>
    </div>
</div>

@code {
    
}