@using Website.Shared.Models
@inject ILocalStorageService LocalStorageService
@inject IAccountRepository AccountService

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:60px">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">E-Commercey App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="Products">Home <span class="sr-only">(current)</span></a>
                </li>
                @if (User != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="CreateNewProduct">Add Product</a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav align-items-center align-content-center">
                @if (User == null)
                {
                    <li class="nav-item">
                        <a class="nav-link align-bottom d-inline-block" href="login">
                            <span>Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">
                            <span>Register</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <span class="mx-4">
                            <span class="text-warning d-inline mx-1">Welcome,</span>
                            <p class="text-white d-inline">@User.Username</p>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">
                            <span>Logout</span>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="shoppingCart">
                        <span class="oi oi-cart p-2" aria-hidden="true">
                            <span class="position-absolute badge bg-primary rounded-pill top-0">@Count</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    private User User { get; set; }

    private int Count { get; set; }

    protected async override Task OnInitializedAsync()
    {
        User = AccountService.User;
        var cart = await LocalStorageService.GetItem<List<CartProduct>>("cart");
        Count = cart is null ? 0 : cart.Count;
        await base.OnInitializedAsync();
    }
}